<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cifrar</servlet-name>
        <servlet-class>Control.Cifrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cifrado</servlet-name>
        <servlet-class>Control.Cifrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descifrar</servlet-name>
        <servlet-class>Control.Descifrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cifrar</servlet-name>
        <url-pattern>/Cifrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cifrado</servlet-name>
        <url-pattern>/Cifrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descifrar</servlet-name>
        <url-pattern>/Descifrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
